
<h3>Estas son las últimas urls creadas:</h3>

<br>
<%= link_to 'Crear nueva short url', new_url_path, remote: :true, id: 'new_link' %>
<br><br>

<% @urls.each do |u| %>

  <p><%= u.long_url %> <br>

    <span><span><%= link_to "#{ini_uri + u.short_url}", visitlong_path(u.id), 'data-turbolinks' => false %></span>&nbsp&nbsp&nbsp&nbsp&nbsp

    <span>Visitas: <%= u.visits%></span><br>

    <% user_id = u.user_id %>
    <% if user_id == nil %>
      <span style="color:#E71D36;">Autor: Desconocido </span>
    <% else %>
      <span style="color:#E71D36;">Autor: <%= User.find(user_id).name %> </span>
    <% end %>
  </p>

<% end %>

<% if current_user %>
  <%= link_to 'Ir a mi perfil', current_user %> 
<% else %>

  <%= link_to 'Login', login_path %> 
  <br><br>
  No tienes cuenta? <%= link_to 'Registrarme', new_user_path %> 

<% end %>