<!DOCTYPE html>
<html>
<head>
  <title>RailsBitly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="welcome">Welcome to Bitly on Rails <%= ini_uri  %></h1>
<div class="contenedor">
<%= yield %>
</div>
</body>
</html>
